.no-border {
    border: none;
    background: transparent;
}
.small-input {
    width: 50px;
    font-size: 12px;
}
.totals {
    text-align: left;
}

table {
  width: 100%;
  table-layout: fixed;
  word-wrap: break-word;
}

input {
  width: 100%;
  box-sizing: border-box;
}
